<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Nhóm 10 - 1412170 - 1412209 - 1412661</title>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<div id="logo">
				<img src="public/images/logo.png">
			</div>
			<div id="menu">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Chat</a></li>
					<li><a href="services.html">Services</a></li>
				</ul>
			</div>
		</header>

		<hr>

		<div id="banner">
			<h1>User Experience Design for Web & Mobile</h1>
		</div>

		<hr>

		<div id="content">
			<article>
				<a href="services.html#design">
					<img src="public/images/design.jpg">
					<h2>Design Research</h2>
				</a>
				<p>We help you better understand the needs and goals of your customers, uncovering key insighs that drive innovative design ideas</p>
			</article>
			<article>
				<a href="services.html#mobile">
					<img src="public/images/mobile.png">
					<h2>Web & Mobile</h2>
				</a>
				<p>We design desktop and tablet website, mobile websites, mobile apps, and other screen based user experiences</p>
			</article>
			<article>
				<a href="services.html#usability">
					<img src="public/images/usability.jpg">
					<h2>Usability</h2>
				</a>
				<p>We evaluate the success of an experience by testing it with real people. Our usability lab is equipped for desktop and mobile testing</p>
			</article>
		</div>

		<hr>

		<footer>
			<p>Copyright &copy 2017 by nhóm 10</p>
		</footer>
	</div>
</body>
</html>