<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Nhóm 10 - 1412170 - 1412209 - 1412661</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="services">
	<div class="container">
		<header>
			<div id="logo">
				<img src="images/logo.png">
			</div>
			<div id="menu">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Chat</a></li>
					<li><a href="services.html">Services</a></li>
				</ul>
			</div>
		</header>

		<hr>

		<div id="banner">
			<h1>Design Research</h1>
		</div>

		<hr>

		<div id="content">
			<article>
				<img src="images/design.jpg">	
				<p>We help you better understand the needs and goals of your customers, uncovering key insighs that drive innovative design ideas</p>
			</article>
			
		</div>

		<hr>

		<div id="comment">
			<h2>Bình luận</h2>
			<div class="count-comment"><span>10 bình luận</span></div>
			<form class="comment-box" action="/comment" method="post">
				<textarea name="comment" placeholder="Add a comment..."></textarea>
				<div class="group-submit">
					<img class="avatar" src="images/avatar.jpg">
					<input type="submit" value="comment">
				</div>
			</form>
			<div class="comment-detail">
				<img class="avatar" src="images/avatar.jpg">
				<span class="username">Username</span>
				<span class="time-post">20:09 05/05/2017</span>
				<p>Comment</p>
				<div class="overflow">
					<div class="delete" data-id="1">X</div>
				</div>
			</div>
			<div class="comment-detail">
				<img class="avatar" src="images/avatar.jpg">
				<span class="username">Username</span>
				<span class="time-post">20:09 05/05/2017</span>
				<p>Comment</p>
				<div class="overflow">
					<div class="delete" data-id="2">X</div>
				</div>
			</div>
			<div class="pagination">
				<a href="#"><span class="prev">Previous</span></a>
				<a href=""><span class="next">Next</span></a>
				<div class="pagination-page-number">
					<span data-page="1">1</span>
					<span data-page="2">2</span>
					<span data-page="3">3</span>
					<span data-page="4">4</span>
					<span data-page="5">5</span>
					<span data-page="6">6</span>
				</div>
			</div>
		</div>

		<hr>

		<footer>
			<p>Copyright &copy 2017 by nhóm 10</p>
		</footer>
	</div>
</body>
</html>